<app-navbar></app-navbar>
<div class="flex justify-center align-center h-screen py-12 mt-10">
    <div class="w-auto bg-white p-6 " >
        <div class="container mx-auto px-10 ">
            <div class="intro max-w-7xl sm:w-auto md:w-auto lg:w-auto">
                <div class="">
                    <p><span class="redText text-3xl">Hi, my name is</span> <br> <span class="nameFont text-4xl lg:text-7xl sm:text-5xl md:text-6xl ">Lonnie Johnson.</span></p>
                    <p class="myQuote text-3xl lg:text-6xl sm:text-4xl md:text-5xl ">I enjoy using technology to solve real world problems.</p>
                    <p class="pt-7 content w-full sm:w-2/3 mb-8">I'm a Full Stack .NET Developer who is seeking employment where I can apply my expertise and to make a notable change within the organization.</p><br>
                    <a href="#" class="gitLink text-2xl   cursor-pointer  px-9 py-1 border border-solid border-transparent rounded  ">
                        My Work
                    </a>
                    
                </div>
            </div>
            <!--About Me Section d-->
            <div class="aboutMeContainer max-w-7xl"> 
                <div id="aboutMe">
                    <span class="contentNumber">1.</span><span class="contentHeader">About Me <hr class="line"></span>
                </div>

                <div class="py-5 max-w-max content">
                    <div class="flex flex-col md:flex-row">
                        <div class="w-full md:w-1/2 ">
                            <p>Hi, My name is Lonnie Johnson and I am very passionate about technology and the opportunities that it brings. I began my journey into becoming a C# developer January 2022. After learning about various languages I decided that C# would be my first language because it's strict nature and scalability. I also love Microsoft.</p><br>
                            <p>I was able to get my career started through the <a href="https://www.myrocketcareer.com/devbuild/" class="redText hover:underline">DevBuild program</a> through my previous employer, Rocket Mortgage. It was a 6 month training program that prepared us for a role within the organization. This program had 7 successful cohorts prior to the one I was apart of. Unfortunately, at the end of cohort we were laid off because of the decline in the mortgage market.
                            However, I still was able to acquire knowledge of the following technologies:</p><br>
                            <div class="grid grid-cols-2">
                                <ul class="col-span-1 leading-7">
                                    <li>
                                        <div class="flex items-center">
                                            <img src="assets/redflag.png" class="w-5 h-5" alt="">
                                            <span class="ml-2">.NET Core</span>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="flex items-center">
                                            <img src="assets/redflag.png" class="w-5 h-5" alt="">
                                            <span class="ml-2">C#</span>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="flex items-center">
                                            <img src="assets/redflag.png" class="w-5 h-5" alt="">
                                            <span class="ml-2">SQL & MySQLx</span>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="flex items-center">
                                            <img src="assets/redflag.png" class="w-5 h-5" alt="">
                                            <span class="ml-2">Angular</span>
                                        </div>
                                    </li>
                                </ul>
                                <ul class="col-span-1 leading-7">
                                    <li>
                                        <div class="flex items-center">
                                            <img src="assets/redflag.png" class="w-5 h-5" alt="">
                                            <span class="ml-2">JavaScript</span>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="flex items-center">
                                            <img src="assets/redflag.png" class="w-5 h-5" alt="">
                                            <span class="ml-2">TypeScript</span>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="flex items-center">
                                            <img src="assets/redflag.png" class="w-5 h-5" alt="">
                                            <span class="ml-2">Dapper</span>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="flex items-center">
                                            <img src="assets/redflag.png" class="w-5 h-5" alt="">
                                            <span class="ml-2">Entity Framework</span>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="w-full pt-2 md:w-2/4 md:px-14 ">
                            <div class="img-hover">
                                <img src="assets/profilepic.jpg" alt="personal picture" class="w-full">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--My Projects Section -->
            <div class="myProjects max-w-7xl">
                <div class="py-5 content">
                  <div id="experience">
                    <span class="contentNumber">2.</span><span class="contentHeader">My Latest Projects<hr class="line"></span>
                  </div>
                  <div class="grid grid-cols-1 sm:grid-cols-2 py-5 w-auto">
                    <div class="flex flex-col justify-center items-center sm:col-span-1 pb-3">
                      <div class="img-hover">
                        <img src="assets/habittrackerimage.png" alt="habittracker">
                      </div>
                    </div>
                    <div class="sm:col-span-1 px-5 w-auto ">
                      <p class="exception text-right">Featured Work</p>
                      <h3 class="exceptionHeader text-right ml-3">Habit Tracker</h3>
                      <div class="description py-3 px-5 h-auto">
                        <p>Project that I created as our capstone for DevBuild. This was created to solve the problem of building strong habits. We agreed that it takes most people 21 days to build a habit but most don't have the discipline to complete the task on their own. So we came up with a solution that will allow them to create habits and track their progress. C#, MySQL, and Angular were used for this project.</p><br>
                      </div>
                    </div>
                    <div class="sm:col-span-1 px-5 w-auto pt-5">
                      <p class="exception">Featured work</p>
                      <h3 class="exceptionHeader">Movie Manager</h3>
                      <div class="description py-3 px-5">
                        <p class="h-2/4">This is an independent project that is currently in the works where the user will be able to save details for their favorite movie. I find myself always wanting to watch a movie but lack the time because of my busy schedule. This program is being built to help keep track of that and will include additional details to make the movies more appealing to the user.</p><br>
                      </div>
                    </div>
                    <div class="flex flex-col justify-center items-center sm:col-span-1 pt-5">
                      <div class="img-hover">
                        <img src="assets/MovieManagerImage.png" alt="MovieManager">
                      </div>
                    </div>
                  </div>
                </div>
              </div>
        
        <!--Contact Me Section-->
            <div class="myContact max-w-7xl mb-28 flex justify-center">
                <div class="py-5 content text-center">
                    <div id="contact">
                    <span class="contentNumber">3.</span><span class="contentHeader">Connect With Me</span>
                    </div>
                    <p class="text-center mb-10">I am currently looking for opportunities for employment and to network. So whether you have a question about my journey or believe that I can be an asset to your company please click below and send me a message and I will try my best to get back to you within 24 hours.; </p>
                    <button type="submit" class="mx-auto gitLink cursor-pointer  px-5 py-1 border border-solid border-transparent rounded">
                        <a href="mailto:techdriven313@yahoo.com">Connect with Me</a>
                    </button>
                </div>
            </div>


        </div>

        <div class=" relative bottom-0 w-full mt-32">
            <div class="px-4 py-6 text-center text-white">
                <p class="footer">Created & Designed by Lonnie Johnson</p>
            </div>
        </div>
</div>
  

